ul.affix {
    position: fixed; 
    top: 60px;
    left: 62px;
    width: 360px;
}
ul.affix-top {
    position: static;
}
ul.affix-bottom {
    position: absolute;
}
 
/* First level of nav */
.sidenav {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  background-color: #f7f5fa;
  border-radius: 5px;
}
 
/* All levels of nav */
.sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
}
 
/* Nav: second level */
.sidebar .nav .nav {
    display: none;
}
.sidebar .nav > li.active .nav {
    display:block;
}
.sidebar .nav .nav {
  margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

.code {
  border:1px solid #ccc !important;
  margin: 10px 0px 10px 0px;
  padding: 10px !important;
}

.section {
  margin-bottom: 80px;
}

.subsection {
  margin-bottom: 40px;
}