# Don’t commit the following files and directories created by pub, Dart Editor, and dart2js
**/packages
.project
.buildlog
.idea
.pub
*.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages
pubspec.lock 
.packages

# Avoid committing generated JavaScript files
*.dart.js

# Cloud 9
.c9*
