<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Redstone.dart</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if page.menu_item == 'blog' %} class="active" {% endif %}><a href="/blog">Blog</a></li>
        <li {% if page.menu_item == 'doc' %} class="active" {% endif %}><a href="/doc/index">Documentation</a></li>
        <li><a href="http://www.dartdocs.org/documentation/redstone/{{site.data.project.version}}/index.html#redstone">API Reference</a></li>
      </ul>
    </div>
  </div>
</nav>
