<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="http://redstonedart.org">
  <link rel="alternate" type="application/rss+xml" title="RSS"
      href="http://redstone-dart.github.io/redstone/feed.xml">
  <title>Redstone.dart - Server-side microframework for Dart</title>

  <!-- Bootstrap -->
  <link href="/redstone/css/bootstrap.min.css" rel="stylesheet">
  <link href="/redstone/css/syntax.css" rel="stylesheet">
  {% case page.menu_item%}
    {% when 'index' %}
  <link href="/redstone/css/index.css" rel="stylesheet">
    {% when 'doc' %}
  <link href="/redstone/css/documentation.css" rel="stylesheet">
    {% when 'blog' %}
  <link href="/redstone/css/blog.css" rel="stylesheet">
  {% endcase %}
  <link href="/redstone/css/footer.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
