@media print {
  .navbar-fixed-top, .navbar-fixed-bottom {
    display: none;
  }

  .main-body {
    padding-top: 20px !important;
  }

  .margin-right {
    margin-right: 10px;
  }

  .margin-left {
    margin-left: 10px;
  }

  #library-panel {
    display: none;
  }

  #minimap {
    display: none;
  }
}
